In [73]:
import pandas as pd
import numpy as np

from alpha_vantage.timeseries import TimeSeries

API_key='QSRWWT6220U36A7Z'

ts=TimeSeries(key=API_key, output_format='pandas')

# American Market
stock_am=ts.get_weekly_adjusted('SPY')

# Canadian Market
stock_ca=ts.get_weekly_adjusted('EWC')

# Travel Sector
stock_tr=ts.get_weekly_adjusted('AWAY')

# The Real Estate Sector
stock_re=ts.get_weekly_adjusted('XLRE')

# Precious metals
stock_pm=ts.get_weekly_adjusted('SLV')

In [ ]:
stock_pm[0]

In [ ]:
stock_re[0]

In [ ]:
stock_tr[0]

In [ ]:
stock_am[0]

In [ ]:
stock_ca[0]

In [74]:
df = pd.DataFrame(stock_ca[0])
canadian_stock=df.iloc[:,1:3]
canadian_stock.loc['2020-01-01':'2022-04-30']
canadian_stock.columns=['highest','lowest']
canadian_stock=canadian_stock[['lowest','highest']]
canadian_stock

C:\Users\admin\AppData\Local\Temp/ipykernel_21836/2287316489.py:3: FutureWarning: Value based partial slicing on non-monotonic DatetimeIndexes with non-existing keys is deprecated and will raise a KeyError in a future Version.
  canadian_stock.loc['2020-01-01':'2022-04-30']

            lowest  highest
date
2022-04-22   38.15  40.5800
2022-04-14   39.34  39.9200
2022-04-08   39.36  41.1178
2022-04-01   39.95  40.8550
2022-03-25   39.88  40.5900
...            ...      ...
1999-12-10   15.13  15.6300
1999-12-03   14.69  15.6900
1999-11-26   15.06  15.6300
1999-11-19   14.88  15.3100
1999-11-12   14.31  15.0000

[1172 rows x 2 columns]

In [75]:
df = pd.DataFrame(stock_am[0])
canadian_stock=df.iloc[:,1:3]
canadian_stock.loc['2020-01-01':'2022-04-30']
canadian_stock.columns=['highest','lowest']
canadian_stock=canadian_stock[['lowest','highest']]
canadian_stock

C:\Users\admin\AppData\Local\Temp/ipykernel_21836/1775620094.py:3: FutureWarning: Value based partial slicing on non-monotonic DatetimeIndexes with non-existing keys is deprecated and will raise a KeyError in a future Version.
  canadian_stock.loc['2020-01-01':'2022-04-30']

              lowest   highest
date
2022-04-22  425.4400  450.0100
2022-04-14  436.6501  445.7500
2022-04-08  443.4700  457.8300
2022-04-01  449.1400  462.0700
2022-03-25  440.6800  452.9800
...              ...       ...
1999-12-10  139.3750  143.7187
1999-12-03  139.0000  145.3437
1999-11-26  140.0000  143.0000
1999-11-19  139.4062  143.0000
1999-11-12  136.0781  139.9843

[1172 rows x 2 columns]

In [76]:
df = pd.DataFrame(stock_pm[0])
canadian_stock=df.iloc[:,1:3]
canadian_stock.loc['2020-01-01':'2022-04-30']
canadian_stock.columns=['highest','lowest']
canadian_stock=canadian_stock[['lowest','highest']]
canadian_stock

C:\Users\admin\AppData\Local\Temp/ipykernel_21836/1996526684.py:3: FutureWarning: Value based partial slicing on non-monotonic DatetimeIndexes with non-existing keys is deprecated and will raise a KeyError in a future Version.
  canadian_stock.loc['2020-01-01':'2022-04-30']

            lowest   highest
date
2022-04-22   22.27   24.1553
2022-04-14   22.91   23.8600
2022-04-08   22.36   23.0400
2022-04-01   22.21   23.2250
2022-03-25   22.70   23.8900
...            ...       ...
2006-06-02  118.10  133.6000
2006-05-26  122.54  132.5200
2006-05-19  121.68  137.8000
2006-05-12  135.06  152.5000
2006-05-05  134.13  144.6400

[834 rows x 2 columns]

In [77]:
df = pd.DataFrame(stock_re[0])
canadian_stock=df.iloc[:,1:3]
canadian_stock.loc['2020-01-01':'2022-04-30']
canadian_stock.columns=['highest','lowest']
canadian_stock=canadian_stock[['lowest','highest']]
canadian_stock

C:\Users\admin\AppData\Local\Temp/ipykernel_21836/1073487678.py:3: FutureWarning: Value based partial slicing on non-monotonic DatetimeIndexes with non-existing keys is deprecated and will raise a KeyError in a future Version.
  canadian_stock.loc['2020-01-01':'2022-04-30']

            lowest  highest
date
2022-04-22  48.380  50.9700
2022-04-14  48.620  49.7900
2022-04-08  48.695  49.9600
2022-04-01  47.160  49.3100
2022-03-25  46.090  47.2200
...            ...      ...
2015-11-13  29.556  30.2600
2015-11-06  29.950  31.6000
2015-10-30  30.950  31.3300
2015-10-23  30.700  31.4625
2015-10-16  30.030  30.6600

[341 rows x 2 columns]

In [78]:
df = pd.DataFrame(stock_tr[0])
canadian_stock=df.iloc[:,1:3]
canadian_stock.loc['2020-01-01':'2022-04-30']
canadian_stock.columns=['highest','lowest']
canadian_stock=canadian_stock[['lowest','highest']]
canadian_stock

C:\Users\admin\AppData\Local\Temp/ipykernel_21836/3191019227.py:3: FutureWarning: Value based partial slicing on non-monotonic DatetimeIndexes with non-existing keys is deprecated and will raise a KeyError in a future Version.
  canadian_stock.loc['2020-01-01':'2022-04-30']

            lowest  highest
date
2022-04-22   22.36    23.95
2022-04-14   22.18    23.93
2022-04-08   22.63    24.72
2022-04-01   22.86    24.30
2022-03-25   22.85    23.76
...            ...      ...
2011-08-05   30.07    41.89
2011-07-29   38.86    43.98
2011-07-22   40.50    43.19
2011-07-15   40.60    43.00
2011-07-08   37.18    43.25

[348 rows x 2 columns]